.icon{
	width:10px;
	height: 10px;
}
.filter-header{
	height:35px;
	background-color: #f5f5f5;
	padding:5px;
	margin: 10px 0 10px 0;
}
.filter-item{
	padding:5px 0px 5px 5px;
	font-size: 13px;
}
.filter-card{
	padding:5px 0px 5px 5px;
}